/* Specifications */

body, html {
  padding: 0;
  margin: 0;
  background: url('../img/background.png') no-repeat center top / cover;
  height: 100%;
}

a {
  text-decoration: none;
}

input[type="text"]::-webkit-input-placeholder {
  color: #000;
}

/* 1 screen */

.header {

}

.head-title {
  text-align: center;
}

.head-title__text {
  font-size: 45px;
  color: rgb( 255, 255, 255 );
  margin: 0;
  padding-top: 100px;
  margin-bottom: 40px;
}

/* 2 screen */

.info {

}

.form {
  width: 340px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.form-game__item {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 213px;
  text-align: center;
  color: black;
}

.form-game__item:last-child {
  margin-bottom: 0;
}

.form-game__btn {
  cursor: pointer;
  outline: none;
  border: 0;
  transition: all 0.3s;
}

.form-game__btn:hover {
  background: white;
}

/* 3 screen */

.footer {

}
