/* Specifications */

body, html {
  padding: 0;
  margin: 0;
  background: url('../img/background.png') no-repeat center top / cover;
  height: 100%;
  min-height: 500px;
}

a {
  text-decoration: none;
}

input[type="text"]::-webkit-input-placeholder {
  color: #000;
}

input:focus {
  transition: all 0.3s;
  box-shadow: 0px 2px 18px 8px darkslategrey;
  background: white;
}

input:focus::-webkit-input-placeholder {
  color:transparent;
  transition: all 0.3s;
}
input:focus:-moz-placeholder {
  color:transparent;
  transition: all 0.3s;
}
input:focus::-moz-placeholder {
  color:transparent;
  transition: all 0.3s;
}
input:focus:-ms-input-placeholder {
   color:transparent;
   transition: all 0.3s;
  }

/* 1 screen */

.header-title {
  text-align: center;
}

.header-title__text {
  font-size: 45px;
  color: rgb( 255, 255, 255 );
  margin: 0;
  padding-top: 100px;
  margin-bottom: 40px;
}

/* 2 screen */

.form-game {
  width: 340px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.form-game__input:hover {
  transition: all 0.9s;
  background: white;
}

.form-game__item {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 213px;
  text-align: center;
  color: black;
  height: 50px;
  box-sizing: border-box;
  font-size: 20px;
  outline: none;
  border: 0;
  background: buttonface;
  border-radius: 15px 15px;
}

.form-game__item:last-child {
  margin-bottom: 0;
}

.form-game__btn {
  cursor: pointer;
  transition: all 0.3s;
}

.form-game__btn:hover {
  background: white;
}

/* Modal screen */

.setting {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background: dimgrey;
  color: white;
  transition: all 0.3s;
}

.setting__options {
  margin-right: 20px;
  margin-top: 15px;
  margin-left: 15px;
}

.setting__icon {
  display: flex;
  justify-content: flex-end;
}

.fa-times-circle.setting__out {
  font-size: 35px;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s;
}

.setting__out:hover {
  opacity: 1;
}

.setting__title {
  text-align: center;
  font-size: 20px;
}

.setting__text {

}
