/* Specifications */

body, html {
  padding: 0;
  margin: 0;
  background: url('../img/background.png') no-repeat center top cover;
}

/* 1 screen */

.header {

}

/* 2 screen */

.info {

}

/* 3 screen */

.footer {

}
